In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")

application_df_original = application_df
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# DON'T DROP NAME COLUMN???

application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [20]:
# drop EIN column
application_df = application_df.drop(columns='EIN')
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [21]:
# Look at NAME count to determine if stratifying is needed
name_count = application_df.NAME.value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [22]:
# Determine which values to replace if counts are less than ..?
replace_name = list(name_count[name_count<10].index)

# Replace in dataframe
for t in replace_name:
    application_df.NAME = application_df.NAME.replace(t,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [23]:
# Look at SUCCESS count to determine if stratifying is needed
type_count = application_df.IS_SUCCESSFUL.value_counts()
type_count

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [24]:
# Look at APPLICATION TYPE value counts for binning
type_count = application_df.APPLICATION_TYPE.value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Determine which values to replace if counts are less than ..?
replace_type = list(type_count[type_count<1000].index)

# Replace in dataframe
for t in replace_type:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(t,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df.CLASSIFICATION.value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_count[classification_count<500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [28]:
income_count = application_df.INCOME_AMT.value_counts()
income_count

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [29]:
# Encoding the 'object' type variables
cat_var = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()

enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(application_df[cat_var]))

encode_df.columns = enc.get_feature_names_out(cat_var)


# Merge into new df
application_df_new = application_df.merge(encode_df, left_index=True, right_index=True).drop(columns=cat_var)

# SPlitting data
y = application_df_new['IS_SUCCESSFUL']
X = application_df_new.drop(columns=['IS_SUCCESSFUL'])

X_train, X_test, y_train, y_test = train_test_split(X, y)

# Scaling the data
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/Users/mattzabriskie/miniconda3/envs/mlenv_forge/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [30]:
import os
import time
from tensorflow.keras.callbacks import ModelCheckpoint



# Create model w/ 2 hidden layers
number_input_features = len(X.columns)
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Define the checkpoint path and filenames
os.makedirs("checkpoints_opt3/",exist_ok=True)
checkpoint_path = "checkpoints_opt3/weights.{epoch:02d}.hdf5"

# create callback to saves weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= int(len(X_train)/32*5))

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50,callbacks=[cp_callback])

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 1s 387us/step - loss: 0.4931 - accuracy: 0.7624
Epoch 2/50
804/804 [==============================] - 0s 377us/step - loss: 0.4448 - accuracy: 0.7837
Epoch 3/50
804/804 [==============================] - 0s 420us/step - loss: 0.4407 - accuracy: 0.7863
Epoch 4/50
804/804 [==============================] - 0s 374us/step - loss: 0.4388 - accuracy: 0.7869
Epoch 5/50
792/804 [============================>.] - ETA: 0s - loss: 0.4372 - accuracy: 0.7880
Epoch 5: saving model to checkpoints_opt3/weights.05.hdf5
804/804 [==============================] - 0s 393us/step - loss: 0.4370 - accuracy: 0.7879
Epoch 6/50
804/804 [==============================] - 0s 367us/step - loss: 0.4364 - accuracy: 0.7886
Epoch 7/50
804/804 [==============================] - 0s 400us/step - loss: 0.4357 - accuracy: 0.7887
Epoch 8/50
804/804 [==============================] - 0s 369us/step - loss: 0.4345 - accuracy: 0.7900
Epoch 9/50
804/804 [==============================] - 0s 369us/step - loss: 0.4344 - accuracy: 0.7905
Epoch 10/50
780/804 [============================>.] - ETA: 0s - loss: 0.4331 - accuracy: 0.7901
Epoch 10: saving model to checkpoints_opt3/weights.10.hdf5
804/804 [==============================] - 0s 393us/step - loss: 0.4337 - accuracy: 0.7900
Epoch 11/50
804/804 [==============================] - 0s 401us/step - loss: 0.4333 - accuracy: 0.7909
Epoch 12/50
804/804 [==============================] - 0s 384us/step - loss: 0.4329 - accuracy: 0.7912
Epoch 13/50
804/804 [==============================] - 0s 392us/step - loss: 0.4323 - accuracy: 0.7906
Epoch 14/50
804/804 [==============================] - 0s 345us/step - loss: 0.4323 - accuracy: 0.7912
Epoch 15/50
781/804 [============================>.] - ETA: 0s - loss: 0.4317 - accuracy: 0.7924
Epoch 15: saving model to checkpoints_opt3/weights.15.hdf5
804/804 [==============================] - 0s 392us/step - loss: 0.4318 - accuracy: 0.7921
Epoch 16/50
804/804 [==============================] - 0s 391us/step - loss: 0.4313 - accuracy: 0.7920
Epoch 17/50
804/804 [==============================] - 0s 381us/step - loss: 0.4313 - accuracy: 0.7916
Epoch 18/50
804/804 [==============================] - 0s 378us/step - loss: 0.4308 - accuracy: 0.7927
Epoch 19/50
804/804 [==============================] - 0s 434us/step - loss: 0.4306 - accuracy: 0.7915
Epoch 20/50
773/804 [===========================>..] - ETA: 0s - loss: 0.4306 - accuracy: 0.7918
Epoch 20: saving model to checkpoints_opt3/weights.20.hdf5
804/804 [==============================] - 0s 398us/step - loss: 0.4305 - accuracy: 0.7920
Epoch 21/50
804/804 [==============================] - 0s 449us/step - loss: 0.4297 - accuracy: 0.7921
Epoch 22/50
804/804 [==============================] - 0s 433us/step - loss: 0.4293 - accuracy: 0.7927
Epoch 23/50
804/804 [==============================] - 0s 394us/step - loss: 0.4291 - accuracy: 0.7936
Epoch 24/50
804/804 [==============================] - 0s 399us/step - loss: 0.4285 - accuracy: 0.7924
Epoch 25/50
693/804 [========================>.....] - ETA: 0s - loss: 0.4281 - accuracy: 0.7923
Epoch 25: saving model to checkpoints_opt3/weights.25.hdf5
804/804 [==============================] - 0s 441us/step - loss: 0.4287 - accuracy: 0.7932
Epoch 26/50
804/804 [==============================] - 0s 391us/step - loss: 0.4286 - accuracy: 0.7935
Epoch 27/50
804/804 [==============================] - 0s 377us/step - loss: 0.4282 - accuracy: 0.7936
Epoch 28/50
804/804 [==============================] - 0s 413us/step - loss: 0.4281 - accuracy: 0.7932
Epoch 29/50
804/804 [==============================] - 0s 383us/step - loss: 0.4278 - accuracy: 0.7931
Epoch 30/50
677/804 [========================>.....] - ETA: 0s - loss: 0.4283 - accuracy: 0.7933
Epoch 30: saving model to checkpoints_opt3/weights.30.hdf5
804/804 [==============================] - 0s 377us/step - loss: 0.4276 - accuracy: 0.7937
Epoch 31/50
804/804 [==============================] - 0s 440us/step - loss: 0.4273 - accuracy: 0.7935
Epoch 32/50
804/804 [==============================] - 0s 374us/step - loss: 0.4273 - accuracy: 0.7930
Epoch 33/50
804/804 [==============================] - 0s 373us/step - loss: 0.4267 - accuracy: 0.7942
Epoch 34/50
804/804 [==============================] - 0s 377us/step - loss: 0.4265 - accuracy: 0.7942
Epoch 35/50
701/804 [=========================>....] - ETA: 0s - loss: 0.4274 - accuracy: 0.7940
Epoch 35: saving model to checkpoints_opt3/weights.35.hdf5
804/804 [==============================] - 0s 432us/step - loss: 0.4262 - accuracy: 0.7950
Epoch 36/50
804/804 [==============================] - 0s 380us/step - loss: 0.4261 - accuracy: 0.7954
Epoch 37/50
804/804 [==============================] - 0s 407us/step - loss: 0.4261 - accuracy: 0.7939
Epoch 38/50
804/804 [==============================] - 0s 414us/step - loss: 0.4258 - accuracy: 0.7940
Epoch 39/50
804/804 [==============================] - 0s 383us/step - loss: 0.4260 - accuracy: 0.7952
Epoch 40/50
790/804 [============================>.] - ETA: 0s - loss: 0.4260 - accuracy: 0.7943
Epoch 40: saving model to checkpoints_opt3/weights.40.hdf5
804/804 [==============================] - 0s 387us/step - loss: 0.4258 - accuracy: 0.7945
Epoch 41/50
804/804 [==============================] - 0s 390us/step - loss: 0.4254 - accuracy: 0.7940
Epoch 42/50
804/804 [==============================] - 0s 429us/step - loss: 0.4252 - accuracy: 0.7939
Epoch 43/50
804/804 [==============================] - 0s 393us/step - loss: 0.4250 - accuracy: 0.7947
Epoch 44/50
804/804 [==============================] - 0s 389us/step - loss: 0.4246 - accuracy: 0.7959
Epoch 45/50
744/804 [==========================>...] - ETA: 0s - loss: 0.4246 - accuracy: 0.7944
Epoch 45: saving model to checkpoints_opt3/weights.45.hdf5
804/804 [==============================] - 0s 419us/step - loss: 0.4250 - accuracy: 0.7942
Epoch 46/50
804/804 [==============================] - 0s 373us/step - loss: 0.4243 - accuracy: 0.7950
Epoch 47/50
804/804 [==============================] - 0s 381us/step - loss: 0.4247 - accuracy: 0.7950
Epoch 48/50
804/804 [==============================] - 0s 384us/step - loss: 0.4244 - accuracy: 0.7956
Epoch 49/50
804/804 [==============================] - 0s 404us/step - loss: 0.4242 - accuracy: 0.7948
Epoch 50/50
744/804 [==========================>...] - ETA: 0s - loss: 0.4236 - accuracy: 0.7970
Epoch 50: saving model to checkpoints_opt3/weights.50.hdf5
804/804 [==============================] - 0s 410us/step - loss: 0.4242 - accuracy: 0.7954
268/268 - 0s - loss: 0.4532 - accuracy: 0.7841 - 149ms/epoch - 556us/step
Loss: 0.4531584084033966, Accuracy: 0.7841399312019348

In [31]:

import kerastuner as kt


# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=2,
        max_value=64,
        step=4), activation=activation, input_dim=len(X.columns)))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=2,
            max_value=32,
            step=4),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [39]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2,
    directory='my_dir3')

In [40]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 13s]
val_accuracy: 0.7853060960769653

Best val_accuracy So Far: 0.7869387865066528
Total elapsed time: 00h 04m 38s
INFO:tensorflow:Oracle triggered exit

In [42]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 26,
 'num_layers': 5,
 'units_0': 10,
 'units_1': 18,
 'units_2': 6,
 'units_3': 2,
 'units_4': 26,
 'units_5': 22,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [43]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4457 - accuracy: 0.7869 - 289ms/epoch - 1ms/step
Loss: 0.4457223415374756, Accuracy: 0.7869387865066528

In [44]:
best_model.save("AlphabetSoupCharity_Optimized.h5")

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.764

In [46]:
from sklearn.svm import SVC

# Create the SVM model
svm = SVC(kernel='linear')

# Train the model
svm.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.772